#flexspan{
    height: 10vh;
}

#profile_background{
    margin-left: 10vw;
    width:80vw;
    /* height: 100%; */
    background-color: rgba(10,20,20,0.7);
    padding: 1%;
}
app-contact{
    display: none;
}

@media only screen and (max-width: 875px) {
    app-contact {
      display: block;
    }
  }
