#flexspan{
    height: 10vh;
}

#profile_background{
    margin-left: 10vw;
    width:80vw;
    height: 80vh;
    background-color: rgba(10,20,20,0.5);
    padding: 1%;
    margin-bottom: 0px;
    /* display: flex; */
}

#content{
    display: inline-flex;

}
#profile_image{
    flex-grow: 3;

}
#para{
    flex-grow: 5;
    
}

