#profileImage img{
    width: 94%;
    height: 94%;
    margin: 3%;
}

mat-card{
    background: whitesmoke;
    width: 100%;
}

.social_media_icons{
    width: 20px;
    height: 20px;
    margin: 0px;
}
.social_media_icons:hover{
    cursor: pointer;
}
/* mat-icon{   
    padding: 2%;
}
mat-card-actions{
    margin-left: 4%;
} */
