<mat-card [@bounceInOnEnter]="bouncestatus">
    <div id="profileImage">
        <img src="assets\Images\profile_image/profile_image.jpg" alt="profileImage">
      </div>
      <mat-card-actions class="row">
        <span class="col-sm-5"></span>
          <a href="https://github.com/udith-shalinda" target="_blank" rel="noopener noreferrer">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="col-sm-5"><img src="assets/Images/icons/github-logo.svg" alt="github" class="social_media_icons"></mat-icon>
          </a>
          <a href="https://www.facebook.com/udith.shalinda.1" target="_blank" rel="noopener noreferrer">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="col-sm-5"><img src="assets/Images/icons/facebook.svg" alt="github" class="social_media_icons"></mat-icon>
          </a>
          <a href="https://www.linkedin.com/in/shalinda-jayakody-6b25a915b/" target="_blank" rel="noopener noreferrer">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="col-sm-5"><img src="assets/Images/icons/linkedin-logo.svg" alt="github" class="social_media_icons"></mat-icon>
          </a>
          <a href="https://www.hackerrank.com/udithshalinda2" target="_blank" rel="noopener noreferrer">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="col-sm-5"><img src="assets/Images/icons/hackerrank.png" alt="github" class="social_media_icons"></mat-icon>
          </a>
          <a href="https://medium.com/@udithshalinda" target="_blank" rel="noopener noreferrer">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="col-sm-5"><img src="assets/Images/icons/medium.png" alt="github" class="social_media_icons"></mat-icon>
          </a>
        </mat-card-actions>
  </mat-card>