mat-toolbar{
    margin-top:4%;
    background:black;
    color:orange;
}
/* span{
    margin-left: 50%;
}
button{
    padding: 3%;
} */

@media only screen and (max-width: 600px) {
    mat-toolbar {
      display: none;
    }
  }