mat-toolbar{
    margin-top:4%;
    background:black;
    color:orange;
}


@media only screen and (max-width: 875px) {
    span {
      display: none;
    }
    #contact{
        display: none;
    }
  }